In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/BL-Flickr-Images-Book.csv")

In [4]:
df.head(5)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [7]:
to_drop = ["Edition Statement",
           "Corporate Author",
           "Corporate Contributors",
           "Former owner",
           "Contributors",
           "Issuance type",
           "Shelfmarks"]

In [8]:
df.drop(to_drop, inplace=True, axis=1)

In [9]:
df.head(5)

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Engraver,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,NaN,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",NaN,http://www.flickr.com/photos/britishlibrary/ta...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   8106 non-null   object
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Engraver              0 non-null      float64
 7   Flickr URL            8287 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 518.1+ KB

In [12]:
#df.drop(columns=to_drop, inplace=True)

In [13]:
df["Identifier"].is_unique

True

In [15]:
df = df.set_index("Identifier")

In [16]:
df.head(5)

,Place of Publication,Date of Publication,Publisher,Title,Author,Engraver,Flickr URL
Identifier,,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,NaN,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",NaN,http://www.flickr.com/photos/britishlibrary/ta...

In [17]:
df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Engraver                                                              NaN
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

In [18]:
df.iloc[0]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Engraver                                                              NaN
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8287 entries, 206 to 4160339
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Place of Publication  8287 non-null   object
 1   Date of Publication   8106 non-null   object
 2   Publisher             4092 non-null   object
 3   Title                 8287 non-null   object
 4   Author                6509 non-null   object
 5   Engraver              0 non-null      float64
 6   Flickr URL            8287 non-null   object
dtypes: float64(1), object(6)
memory usage: 837.9+ KB

In [20]:
df.dtypes.value_counts()

object     6
float64    1
dtype: int64

In [21]:
df.loc[1905: ,"Date of Publication"].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [22]:
regex = r'^(\d{4})'

In [23]:
extr = df["Date of Publication"].str.extract(regex, expand=False)

In [24]:
extr.head(5)

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [25]:
df["Date of Publication"] = pd.to_numeric(extr)

In [26]:
df["Date of Publication"].dtype

dtype('float64')

In [27]:
df["Place of Publication"].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [28]:
df.loc[4157862]

Place of Publication                                  Newcastle-upon-Tyne
Date of Publication                                                  1867
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Engraver                                                              NaN
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [29]:
df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                  1834
Publisher                                                Mackenzie & Dent
Title                   An historical, topographical and descriptive v...
Author                                              Mackenzie, E. (Eneas)
Engraver                                                              NaN
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

In [30]:
pub = df["Place of Publication"]

In [31]:
london = pub.str.contains("London")

In [32]:
london.head(5)

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [33]:
oxford = pub.str.contains('Oxford')

In [34]:
oxford.head(5)

Identifier
206    False
216    False
218    False
472    False
480    False
Name: Place of Publication, dtype: bool

In [39]:
df["Place of Publication"] = np.where(london, "London",
                                     np.where(oxford, "Oxford",
                                              pub.str.replace("-"," ")))

In [40]:
df["Place of Publication"].head()

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object

In [43]:
df["Place of Publication"].unique().sum()

"LondonOxfordCoventryChristianiaFirenzeAmsterdamSavonaParisPuerto RicoNew YorkHullOxoniiMilanoAberdeenWienAbingdonQuebecLeipzigpp. 40. W. Cann: Plymouth, [1876?]1845enkBostonUpsaliæEdinburghYverdonLondiniSt. PetersburgBerlinSceauxCoblenzCarlstad, StockholmCarlstadA. MillarAllahabad]StuttgartD. Appleton & CoСанктпетербургъPaisleyNapoliἘν ΚερκυρᾳPlymouthTrentoHeilbronnTorinow KrakowieCambridge, [Mass.]BombayAgenEdinburgh; John MurrayPhiladelphiaHaarlemAlbanyKjøbenhavnHaderslevCopenhagueKielBaltimoreS. PauloLondini GothorumMamersMéxicoMexicoPortoBruxellesMacerataToursPalermoSantiagoEdinburgh]ChelmsfordBarcelonaGlasgowInvernessJedburghWestminsterAndoverLewesDeventerProvidenceFrankfurtRomaPesciaExeterMaltonGreat YarmouthChurMoulinsMadridToulouseBeroliniLipsiaeNiortStockholmLeccoCarlislepp. 64. W. Cann: Plymouth, [1870?]DieppePestDorchesterJenaeKristianiaSalisburyMeriden, ConnParis; MoulinsTrévouxMünchenRouenAdelaidePerthMontevideoBathBudapestQuébecAberdeen?KolozsvárttBirminghamLeeBristolKirkwallPenzanceDublinIpswichKarlsruheBernAarauHartford, ConnSpringfield, MassWilnoVannesBasingstokeCalcuttaNairnLiverpoolManchesterJenaPhila., PaGroningenBayonneTriestexxuBarton upon HumberBordeauxEdinburgh; reprinted by B. DewhirstSaint DizierCooperstown, N.YNewark, N.JLeidenWindsor, VtSingaporeBreslauCincinnatiStrassburgDoncasterSpringfield, OChesterCambridgeSchweinfurtNürnbergWinnipegAschaffenburgLübeckBelfastDover, N.HFrederick Warne & CoAuchLe MansHanoverYorkv PrazeHagae ComitumKrakówBrugesМосква, 1857 60UpsaliaeAshteadColmarDelhiArrasMitauRichmond, VaNorwichChester]GothaVigevanoRhodesKopenhagenLyonWashingtonHongkongBirkenheadKaiserslauternBrightonOswestryÉvreuxBucarestChicago2 vol. W. Blackwood & Sons: Edinburgh, 1888ZürichGöttingenBodminInnsbruckLeedsС. ПетербургъSouthamptonChâteaudunGenèveNamurDalbeattieE. LloydBrooklynLondraFontainebleauBournemouthTroyesGrotonMaidstoneNewcastle upon TyneBerne & NeuchâtelDunedinChichesterEveshamWinchesterLwówPooleBoston, LincsWürzburgLa PazTivertonH. D. SymondsBristol; Longmans & CoLisboaMorrisaniaGoesLes AndelisAlgerGroningaeElginHorncastleBremenLovedaleSuidniciiОдессаOrvietoDundeeMannheimWarszawaMagdeburgHamburgDessaupp. 31. S. Harper & Sons: Barnstaple, 1899RevalArnhemHalleStamfordF. & C. RivingtonMadrasKilmarnockBraunschweigPrivately printedSkiptonZacatecasBuenos AiresFrankfort, KyKönigsbergDresden's Gravenhage1 3. ParisSchwerin2 Bdchn. BerlinStuttgart & TübingenGenfbenv. TarnopolPisaἐν ΠατραιςShanklinNoviLahoreMooltanTauntonCheltenhamChambersburg, PaMarlboroughKöthenAllahabadCitta di CastelloBrusselsManilaCodognoWickTorontoWisbech; Simpkin, Marshall & CoSneekMilwaukeeGentModenaMontrealPont AudemerWeimarCape TownRangoonCarmarthenPesaroFlorencestkSevillaPortland [Maine]ScarboroughTorre del GrecoPorto & BragaCataniaТифлисъKøbenhavnMadrid; Bayonne [printed]Cookshire, QueDerbyPortseaLes AndelysCambridge [Mass.]Printed for private circulationСаратовъNewcastleMantovaSaint OmerSan FranciscoSpalatoSilva Junior & C.aLa Rochellew WarszawieHartfordBrunsvigaeLugduni BatavorumEdinburgh?CarácasDijonGlastonburyAlbany, N.YMelbournev. MéjicoMéjicoLanarkManchester; Lupton BrosNantesTōkyōColchesterMelegnanoJ. BellRochdaleUlverstonMaysvilleOtleyVeneziaLondres, et se trouve à ParisWoodbridgeAucklandQuedlinburgGorinchen's HertogenboschBradfordBudæBogotáNeuva York [sic]RomeTruroBesançonpp. 128. R. Aickin & Co.: Belfast, 1896SydneyBasilCanterburypp. 64. W. & J. Kennedy: Hawick, 1899HawickSunderlandCupar FifeἘν ἈθηναιςPlaistowGrahamstownCarnoustieCharlestonKelsoМоскваPottsvilleStrigoniiChippenhamHelsingforsἐν ἈθηναιςNashvilleDartfordGrenobleKoldingSpringfieldSt. LouisDoylestown, PaNew HavenPestenCambridge, MassLilleParisiisParyżBoston; Carey & LeaRiponLibourneHertfordNorthamptonBonnRomæBradbury & Evansgw2 Bd. NaumburgGiessenMarburgMarburgiValenciennesPrestonRichmondW. H. Allen & CoMacmillan & CoHeidelbergJena, Naumburg a. S. [printed]pp. 152. Москва, 1898Chiswick PressNeustadt an der HaardtMontfoortUtrecht2 Thle. Frankfurt am Main, 1880, 8ºMiddlesexBury St. EdmundsDenver, ColoradoGreenockMaltaBourgAshbournSalem, MassСанктпетербургъ, 1867pp. vi. 250. W. Blackwood: Edinburgh, 1889Paris, Corbeil [printedKölnYarmouthJ. & R. TonsonJames Nichol, etcW. P. NimmoSaint BrieucAnnapolisParis, Corbeil [printed]FlorentiaeRennesCahorsFrankfurt a. MHammHavreKirby MoorsideUpsalaChartresToulMantesAmiensLeeuwardenTodiBilbaoSt. PétersbourgWiesbadenNordhausenKeighleyA. GreenJamaicaBoston, MassAlnwickBoston [Mass.]DunfermlineMeiningenEislebenFranz DunckerHarper & BrosSelkirkRugbyIndianapolisStrasbourgEpsomPragaeSaintesRiomEton]Windsor] Barth, printer, Wych Street, StrandHalsteadFabrianoSantiago de ChileQuebec]SheffieldJerseypp. 20. [Appledore Press: New Haven, Conn.,] 1875ClevelandMejicoKarlstadpp. 229. G. N. Morang & Company: Toronto, 1900J. Johnson, etcHenry G. BohnBickers & Son, etcWilliam NimmoGeorge Routledge & SonsBoston [Mass.]; Cambridge [Mass., printed]MontpellierHenleyПетроградъLeopoliSchweidnitzNew York [printed], ChicagoСанктпетербургъ, 1845TauriniSaint Petersburg]Boston, U.S.ALondresÉcijaMiddelburgCapetownCleveland, OhioForliHalle a. SKnaresbroughBernaySudburyPorteFranklinThomas Nelson & SonsZielenzig2 Th. HelmstedtHannoverStepney GreenMinden i. WestfWirzburgMonzaFerraraReprinted at the Auchinleck pressNew Orleans, LaPaderbornJenningsMülheim a. d. RuhrNewburyportNew York; Kegan Paul & CoCorkLiègeBruggeFrancis & John RivingtonPesth & WienPragBrandenburg a. HMadrid [printed], ParisNueva YorkMontréalBliss Sands & CoService & PatonMacmillan & Co.; New YorkSmith, Elder & CoSimlaLeideGapBernard LintotTurinἈθηνησινChicago, IllGreizOstendeGenoaCopenhagenС[анкт] П[етер] Б[ургъ]KasselMontargisFavershamСанктпетербургъ, 1836Санктпетербургъ, 1842GloucesterLond[on]DüsseldorfVeronaSedanNîmesF. C. & J. Rivington, etcJohn MurrayRichard Griffin & CoCassell, Petter & GalpinWard & LockCassell, Petter, & GalpinCassell Petter & GalpinCassell & CoCadell & Davies, etcSuttaby, Evance, & CoCharles Griffin & CoErmanno LoescherJ. B. Lippincott CoBliss, Sands, & FosterValenciaБеоградSampson Low, Marston, Searle & RivingtonPetersburgBoston [U.S.]KiøbenhavnRichmond, Va., reprintedParis, Rouen [printed]Vernor, Hood, & Sharpe, etcG. KearsleyJ. RidleyAldine HouseJames BowdenTipografia MigliaresiHarrison & SonsWakefieldCaenMarseilleKönigsberg ï. PrZalt Bommel, Nijmegen [printed]Санктпетербург\uf004, 1862CarpiAntwerpenBolognaLavalBâleКовнаYarmouth?]PeterboroughLimerickWedmoreHaddingtonBerlin und Potsdam [printed]Boulogne sur MerHalberstadtTenbySt. Petersburg, LeipzigDetroitBrechinWirksworthWeymouthFort Smith, ArkDalbeattie; Castle Douglas [printed]Akron, OhioBoston [U.S.], Cambridge [U.S. printed]HaverfordwestArbroathBaselOudewaterBamberg] Appledore U.S. PressMonsAlkmaarG. NicolBreslau, Leipzig [printed]ReadingErlangenCiudad RealFranekerLeipzig [printed] und HeidelbergJena, Leipzig [printed]Stuttgart, Carlsruhe [printed]Hamilton, BermudaBielefeldCuxhavenBoston (Massachusetts)GrazConcordpp. 76. The Darien Press: Edinburgh, 1895Dayton, OhioNagybecskerekKjøbenhaven3 vols. EdinburghGandἘν ΒενετιᾳPesthT. Nelson & SonsLouisvilleDurhamFrankfurt am MainZnaimWrexhamHuddersfieldBerlin, Sondershausen [printed]A[ppledore]. P[rivate]. P[ress: New Haven, Conn.,] 1881DarmstadtShrewsbury & Providence GrovePest, Darmstadtban [printed]Pesth, Darmstadt [printed]ZurichDevizesCharlestownStirlingWellington, New ZealandBrusselJohn Hatchard & SonNancyGranadaEdinburgh?]ImolaM. CooperClermont FerrandDebreczenpp. 438. J. Duffy & Co.: Dublin, 1900Berlin & HamburgParis, Poissy [printed]BudánSt. HelenaFreiburg im BreisgauHonoluluwe LwowieDavosBrooklyn, N.Yw LwowiePortmadocAuburnSt. Helier]Eisenach4 vol. The Century Co.: New York, 1887, 8ºSavannah, GaG. J. Parris, steam printerBrecknock1895LimogesSantiago [Chilo.]BridgwaterHelsingissäКіевъFreiburg i. BStettinAu Meschacébé [Mons]ТверьСофияDorpatBerneKetteringBoston, U.SMelbourne & BallaratBoston [U.S.]; Cambridge [U.S. printed]GuildfordWien [printed]ErfurtSaint Petersburgw LipskuHoornv Č. BroděLinzCatskill, N.YMontreal?CologneHarrison & CoLancasterRichard Bentley & SonGinn & CoArdrossanBarmen, Elberfeld [printed]Rouen [printed], ParisChâteaurouxKjöbenhavnFrankfurt, a. Mpp. xv. 376. W. E. Clegg: Oldham, 1893James Parker & CoWarwickAvesnes, Valenciennes [printed]DouaiPontoiseSoissons, Laon [printedSavannahAshburtonNewcastle on TyneParis, Strasbourg [printed]ÉtampesVervinspp. li. 397. въ Типографіи Департамента Народнаго Просвѣщенія: Санктпетербургъ, 1819LeicesterLincolnHarrowBourgesat the Cross of DumbartonBaltimore [U.S.]AnconaEvreuxSaint MaixentTulleGöteborgPrzemyślCaerfyrddinMulhouseGuanajuatoEgham1 3. EdinburghEsteLoughboroughEpinalLouthGeo. E. Over, printer, the Rugby PressTrimHildesheimKecskemétenPosenKingsbridgeArauLausanneBoston [MassRemington & Co1814VolterraCampobassoSainte Anne de La PocatiereAugustaGraham's TownGuernseyVillefrancheSaint AmandLondSaint LoMontdidierBeverleyDignepp. 112. Санктпетербург\uf004, 1879pp. viii. 291. Harper & Bros.: New York, 1888R. PauPrivasParker Son and BourneNicosiaSacramentoSaint GaudensFécampGraz, Wien [printed]ChambéryPragæCoroniæLa HayeHartford [Conn.]Norwich [Conn.]ReykjavíkWheelingTunbridge WellsRegensburgChathamMálagaFreisingOldenburgEtonæBrunswickLaonTournaiBoston, [Mass.]ValparaisoPortland, MaineExeter (New Hampshire)Boston, [MassAnversMetzParis [printed]BellunoSoissonsVeniseLansingGuatemalapp. 62. J. Heywood: Manchester, 1894BromptonæOrléansMont de MarsanCittà di CastelloBrighton,] 1873Tewkesbury3 series. LeamingtonRoma, Napoli, Turin [printed]Warwick, 1877BridlingtonFrankfort on the MainLuxemburgGlasgow & EdinburghBuenos AyresOlneyLockerbieWinterthurYokohamaTeramoЯрославльEmmendingenpp. 8. Privately printed: Plymouth, 1879Rostock & SchwerinLeipzig & WienSt. John'sNeversMalzévilleUpsalHalifax, N.Spp. xxvii. 507. Printed by J. S. Toothill: Bradford, 1900pp. 471. Санктпетербургъ, 1875У БѣоградуKingston, JamaicaMalagapp. viii. 236. Санктпетербургъ, 1856ThoruniiV PrazePozsony] EdinburghPadovaСанктпетербургъ, 18632 том. Санктпетербургъ, 1867Chapman & HallMechelenWrexham?]ReggioRocca S. CascianoPécsettPassaic, N.Y.]AntverpiæBerlin und HamburgWycombe] BirminghamHome Publishing CoAberdareDoverArezzoСанктпетербургъ, 1852CardiffLeipaBriggHalifaxPeeblesBuenos AirêsCaracasCaernarfonPenrithAugsburgЧернівцїDordrechtStokesleyMunichLouvainNimesCompiègneLipsiæMonachiGroningæBarneveldLerwickpp. 35. W. Cann: Plymouth, [1869?]BalparaisoBath, Sold by T. Cadell, etcСанктпетербургъ, 1864PontefractWarringtonСанктпетербургъ, 1868Hartford [Conn]Portsmouth [N.H.]CartajenaRoxbury, MassLipskpp. viii. 154. Wilson & McCormick: Glasgow, 1882Cambridge, [1841.]UlmLemgoManchester; Edinburgh printedCracovieFrauenfeldAugusta, GeorgiaС.П.БBrentfordNewarkAbbevillePrivately printed: [Edinburgh,] 1844CroydonAgramParamariboПетербургъLimaEpworthAsunción del ParaguayHarrisburg, PaAboaeQuitoBuffalo, N.YAlaisBeauvaisElberfeldAix la ChapelleMorse CoTaylor & HesseyPerigueuxMontreal, Canadapp. viii. 206. W. Morrison & Co.: Hawick, 1898pp. 472. J. Heywood: Manchester, 1889frNewport PagnelS. O. BeetonDinanDurbanPotsdam, Nauen [printed]Paris, Orléans [printed]Devonportpp. xxviii. 180. A. Gardner: Paisley, 1897AngersJohn & Daniel A. DarlingRoermondLadies’ BridgePoznańTarbesEdinburgh, 1867 [1866]Bath [U.S.]Tahlequah?ZutphenCoblenz, Leipzig [printed]Poincot, Paris,] 1788 93OrpingtonNewburghBaleHanleySerampore]Frankfurt am Main, Prag [printed]pp. 7. [Privately printed: Bodmin, 1887.]WesterhamParis [printed], PéronneLe Mans [printed], ParisJamaciaChâteau ThierryTraniNéracCagliariNew York, 1866AvignonSciaccaKendalpp. 80. Andrew Churchman: Hammersmith, 1890GüterslohLahrTübingenVienneSydney, N.S.WAugustæ TaurinorumFrankfurt a/MWeipert]MulhousèMainzGlogauZürich und Frauenfeldpp. xxxi. 123. Berlin, 1877RedditchA. StrahanEdinburgh; Longman, Hurst, Rees, Orme, & BrownСанктпетербургъ, 1871Königsberg i. PrCurGenovaShaftesburyCarlsruheNouvelle YorkBoston and New York1830?]MeluniiShrewsbury2 pt. Санктпетербургъ, 1853, 54SidmouthT. O. H. P. BurnhamElliot StockLiedenLeipzig und Wienprinted at the Baptist Mission PressDockumVe VidniSalt Lake Citysold by J. Newbery; M. CooperBernard LintottPortlandMiddlesbroughB. Law, etcWilliam P. NimmoArkste’s & MerkusAixCasselRio de Janeiropp. xii. 208. J. Young & Sons: Perth, 1898ΣμυρνηColomboUngvárottHusumCampecheWilloughby & Co., etcNakładem i czcionkami Breitkopfa i HaertlaMinneapolisVratislaviæDursleyAuburn, N.YHubbardston, MassCrieffNewport & RydeOsnabrückAshsteadProvidence, R.IWorcester, [Mass.]EastbourneSt. Louis, MoSondershausenKaschauPestiniWindsor,]pp. xi. 202. Москва, 1891Hobart TownSensPlymouth]TeignmouthBoston & New YorkUtrecht, [1859?]Cambridge [printed]; Bell & DaldyEdinburgh, Manchesterpp. xii. 139. F. Rodda: Penzance, 1895pp. xx. 372. William P. Nimmo: Edinburgh, 1868Strivelin [Stirling]pp. vi. 209. Blackwood and Sons: Edinburgh, 1888Aostepp. 60. Privately printed, 1876RiminiSevenoaksBuryAlexandriaPorrentruyIlkestonBar sur SeineBerne, Strasbourg [printed]ἈθηνῃσιSwanagepp. 14. W. Cann: Plymouth, [1876?]Madison, WisAaronHabanapp. xi. 273. Вятка, 1870Montreuil sur Mer1885?]KøbenhavenRochefortRodezMaranhãoWoolwichCortlandWinsted, Connpp. 59. Atlas Press: Melbourne, [1900?]Egmore, MadrasFrancfort sur le MeinNördlingenKreuznach, Leipzig [printed]Санктпетербургъ, 1873ruEmdenMinneapolis [Minn.]Los Angeles, CalWarwick and Leamington, Coventry [printedStratford upon AvonWilliam Blackwood & SonsWhitbyLandshutTroy, N.YWest Milton, Ohiopp. ii. 80. A. W. Dawson: Newport, 1898Delft, Rotterdam [printedCharlestown [Mass.]AltonaW LipskuВаршаваWeinCambraiLeeds: Bean & Son; Leamington: Hamblen, 1883BurnleyRomfordWindham, N.HHanauCambridge MassHofDoesborghВильнаLichfieldWorcester, MassE. Moxon, Son & CoWilliam PatersonAlexander StrahanKegan Paul, Trench, & CoD. C. Heath & CoJames R. Osgood, McIlvaine & CoJarrold & SonsBell & DaldyV. KalyanaramCopenhagneWorthingLundBingleyHamburg?SherborneNottinghamVienapp. 215. въ Москвѣ, 1889Paris, Lyon [printed]Merida de YucatanМосква, 1860Moskwa"