In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('data/train_E6oV3lV.csv')

In [3]:
train.head(5)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))

In [5]:
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [6]:
train['char_count'] = train['tweet'].str.len()

In [7]:
## this also includes spaces
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [8]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

In [9]:
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))

In [10]:
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [11]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [13]:
train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [14]:
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['tweet','hastags']].head()

                                               tweet  hastags
0   @user when a father is dysfunctional and is s...        1
1  @user @user thanks for #lyft credit i can't us...        3
2                                bihday your majesty        0
3  #model   i love u take with u all the time in ...        1
4             factsguide: society now    #motivation        1

In [15]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

In [16]:
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet','upper']].head()

                                               tweet  upper
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

In [17]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [18]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [19]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [20]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [21]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [22]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

hifi                    1
muecas                  1
yearwhen                1
kidsdeserveit           1
bestpick                1
hail                    1
mondayðbe               1
blinking                1
bellyburningbootcamp    1
degrading               1
dtype: int64

In [23]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [28]:
from textblob import TextBlob
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [31]:
nltk.download('punkt')
TextBlob(train['tweet'][1]).words

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [32]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [34]:
nltk.download('wordnet')
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [35]:
TextBlob(train['tweet'][0]).ngrams(2)

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drag']),
 WordList(['drag', 'kid']),
 WordList(['kid', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [36]:
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

          words  tf
0         offer   1
1    wheelchair   1
2           pdx   1
3          cant   1
4           use   1
5         cause   1
6        thanks   1
7   disapointed   1
8          dont   1
9          lyft   1
10   getthanked   1
11       credit   1
12          van   1

In [38]:
import numpy as np

for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))

tf1

          words  tf        idf
0         offer   1   6.522155
1    wheelchair   1   9.273691
2           pdx   1   8.762865
3          cant   1   3.538194
4           use   1   3.552287
5         cause   1   5.690172
6        thanks   1   4.597751
7   disapointed   1  10.372303
8          dont   1   3.745585
9          lyft   1   8.762865
10   getthanked   1   9.679156
11       credit   1   7.327781
12          van   1   5.236505

In [39]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

          words  tf        idf      tfidf
0         offer   1   6.522155   6.522155
1    wheelchair   1   9.273691   9.273691
2           pdx   1   8.762865   8.762865
3          cant   1   3.538194   3.538194
4           use   1   3.552287   3.552287
5         cause   1   5.690172   5.690172
6        thanks   1   4.597751   4.597751
7   disapointed   1  10.372303  10.372303
8          dont   1   3.745585   3.745585
9          lyft   1   8.762865   8.762865
10   getthanked   1   9.679156   9.679156
11       credit   1   7.327781   7.327781
12          van   1   5.236505   5.236505

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['tweet'])

train_vect

<31962x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 114042 stored elements in Compressed Sparse Row format>

In [43]:
print(train_vect)

  (0, 721)	0.6609667853370123
  (0, 443)	0.581635378207173
  (0, 267)	0.47415524409106224
  (1, 591)	0.5380977952316363
  (1, 219)	0.3343760513811211
  (1, 128)	0.48468122842038097
  (1, 904)	0.4578604483673509
  (1, 849)	0.39254469257319075
  (2, 76)	1.0
  (3, 995)	0.4490802792315525
  (3, 996)	0.49607396352876615
  (3, 902)	0.5323509742771187
  (3, 549)	0.5184977971991528
  (4, 558)	1.0
  (5, 619)	0.35615330450388427
  (5, 468)	0.3998294923711774
  (5, 833)	0.44592005703200316
  (5, 74)	0.3768623096037397
  (5, 263)	0.39323783312663496
  (5, 406)	0.4666747364661482
  (6, 866)	1.0
  (7, 327)	0.25214445140310116
  (7, 368)	0.2972143197037405
  (7, 250)	0.38948146665378647
  (7, 854)	0.265670951765864
  :	:
  (31953, 338)	0.3017529627568916
  (31953, 327)	0.3272231897541668
  (31954, 394)	0.37773226995987863
  (31954, 928)	0.3003252563943781
  (31954, 211)	0.38238800689130437
  (31954, 217)	0.3834329710960391
  (31954, 110)	0.6883906169209224
  (31955, 462)	0.8002088204213111
  (31955, 940)	0.5997214717849726
  (31956, 922)	0.5776442742781255
  (31956, 977)	0.5699564572394813
  (31956, 866)	0.5843601023724303
  (31958, 385)	0.557743616901898
  (31958, 751)	0.5673006239123156
  (31958, 888)	0.5066743127245549
  (31958, 482)	0.33222462392030233
  (31959, 488)	0.4324031693715943
  (31959, 783)	0.3657472272485942
  (31959, 962)	0.28875334327378943
  (31959, 556)	0.3015888816828483
  (31959, 552)	0.3566984361462968
  (31959, 723)	0.6145635392061995
  (31960, 15)	1.0
  (31961, 293)	0.7171176000382493
  (31961, 847)	0.6969521846693514

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['tweet'])
train_bow

<31962x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 128379 stored elements in Compressed Sparse Row format>

In [45]:
print(train_bow)

  (0, 269)	1
  (0, 445)	1
  (0, 716)	1
  (1, 848)	1
  (1, 125)	1
  (1, 903)	1
  (1, 132)	1
  (1, 220)	1
  (2, 83)	1
  (3, 550)	1
  (3, 831)	1
  (3, 901)	1
  (3, 996)	1
  (3, 995)	1
  (4, 559)	1
  (5, 410)	1
  (5, 265)	1
  (5, 82)	1
  (5, 834)	1
  (5, 471)	1
  (5, 623)	1
  (5, 329)	1
  (6, 868)	1
  (7, 125)	1
  (7, 586)	1
  :	:
  (31954, 217)	1
  (31954, 211)	1
  (31954, 946)	1
  (31954, 928)	1
  (31954, 398)	1
  (31955, 939)	1
  (31955, 464)	1
  (31956, 868)	1
  (31956, 978)	1
  (31956, 288)	1
  (31956, 922)	1
  (31958, 733)	1
  (31958, 483)	1
  (31958, 887)	1
  (31958, 748)	1
  (31958, 389)	1
  (31959, 718)	2
  (31959, 553)	1
  (31959, 557)	1
  (31959, 963)	1
  (31959, 785)	1
  (31959, 488)	1
  (31960, 15)	1
  (31961, 846)	1
  (31961, 297)	1

In [46]:
train['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (-0.3, 0.5354166666666667)
1                    (0.2, 0.2)
2                    (0.0, 0.0)
3                    (0.0, 0.0)
4                    (0.0, 0.0)
Name: tweet, dtype: object

In [47]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['tweet','sentiment']].head()

                                               tweet  sentiment
0  father dysfunctional selfish drag kid dysfunct...       -0.3
1  thanks lyft credit cant use cause dont offer w...        0.2
2                                     bihday majesty        0.0
3                            model take urð ðððð ððð        0.0
4                      factsguide society motivation        0.0